<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inscripciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar placeholder="Filter Schedules" [(ngModel)]="term" animated="true" mode="ios" color="light" placeholder="Buscar grupo"></ion-searchbar>

  <div *ngFor="let item of arrData | filter:term">
    <div class="list_div" (click)="inscribirse(item)">
      <span slot="start">{{ item.clave }}</span>
      <img [src]="item.docente.photoURL" class="docente-photo" alt="img_docente">
      <ion-label class="ion-text-left asignature-name">{{ item.asignatura_nombre }}<p>{{ item.docente_nombre }}</p></ion-label>
      <ion-icon *ngIf="item.inscrito == false" name="remove-circle-outline" color="medium"></ion-icon>
      <ion-icon *ngIf="item.inscrito == true" name="checkmark-circle-outline" color="success"></ion-icon>
    </div>
  </div>
</ion-content>
