#map {
    position: initial;
    width: 100%;
    height: 30vh;
    border-radius: 5px;
}

.buscar-direcciones {
    margin-top: -10px;
    position: fixed;
    z-index: 2;
    width: 92%;
    margin-left: 0.1%;
    --ion-item-background: #f0f2fa;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}