<ion-list lines="none">
  <ion-item lines="none" (click)="comollegar()">
    <ion-icon name="map-outline" slot="start"></ion-icon>
    <ion-label>Como llegar</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="tareas()">
    <ion-icon name="library-outline" slot="start"></ion-icon>
    <ion-label>Tareas</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="chat()">
    <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
    <ion-label>Chat</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="docente()">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>Docente</ion-label>
  </ion-item>
</ion-list>
