<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="dataAsignatura">

  <ion-item *ngIf="dataDocente">
    <ion-avatar slot="start">
      <img [src]="dataDocente.photoURL" alt="img_docente" />
    </ion-avatar>
    <ion-label>{{ dataAsignatura.nombre }}<p>{{ dataDocente.nombre }}</p></ion-label>
  </ion-item>

  <ion-searchbar placeholder="Filter Schedules" [(ngModel)]="term" animated="true" mode="ios" color="light" placeholder="Buscar alumno"></ion-searchbar>
  <div *ngFor="let item of arrAlumnos | filter:term">
    <div class="list_div">
      <img [src]="item.photoURL!=null?item.photoURL:'./assets/default_user_picture.png'" class="userImage" slot="start" alt="img_usuario"/>
      <ion-label>{{ item.nombre }} {{ item.materno }} {{ item.paterno }}</ion-label>
      <ion-icon name="trash" color="danger" (click)="expulsar(item)"></ion-icon>
    </div>
  </div>
</ion-content>
