<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperacion de contraseña</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="wave-container">
    <img src="assets/recuperar.png" alt="reset_password">
    

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onResetPassword(email)" expand="block">Recuperar contraseña</ion-button>
      </ion-col>
    </ion-row>


    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,64L80,96C160,128,320,192,480,181.3C640,171,800,85,960,48C1120,11,1280,21,1360,26.7L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#3d8e81;"></path>
    </svg>
    </div>
  
    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-title>
          <span class="ion-float-left">T&P Devs.</span> 
            <span class="ion-float-right">uniquindio.edu.co</span>
        </ion-title>
      </ion-toolbar>
    </ion-footer> 

</ion-content>