<ion-content [fullscreen]="true" class="ion-no-padding">
  <div class="wave-container">
    <h1>Mi UQ</h1>
    <div>
    <img src="assets/uq.png" alt="img_uq">
    </div>
    <img src="assets/student-2.png" alt="img_usuario" >
    </div>
    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-title>
          <span class="ion-float-left">T&P Devs.</span>
            <span class="ion-float-right">uniquindio.edu.co</span>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
</ion-content>

